@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+BE+VLG:wght@100..400&display=swap");

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: url("/public/background.jpg");
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Playwrite BE VLG", sans-serif;
}

.rsvp {
  margin-bottom: 50px;
  border: 5px black dotted;
  background-color: #729762;
  border-radius: 50px;
  width: 35rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.rsvp button {
  background-color: #def9c4;
  margin: 25px;
  border-radius: 60px;
  font-weight: bold;
}

.date {
  color: #f3ff90;
  display: flex;
  flex-direction: row-reverse;
}

.desc {
  color: #fff6e9;
}

.event-adder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: 5px black dotted;
  padding: 15px;
  border-radius: 5%;
}

.Add-Event {
  margin: 15px;
  margin-bottom: 25px;
  width: 8rem;
  border-radius: 5rem;
  background-color: #006769;
  color: wheat;
}

.heading {
  background-color: #468585;
  width: 100%;
  color: white;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border: 5px black solid;
}

.event-adder {
  background-color: #ecffe6;
}

.event-adder label {
  font-size: 25px;
  color: #1a5319;
  margin: 25px;
}

.event-adder input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

.event-adder button {
  background-color: #538392;
  color: #b3e2a7;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-rsvps {
  margin: 15px;
  margin-bottom: 25px;
  width: 8rem;
  border-radius: 5rem;
  background-color: #006769;
  color: wheat;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background-color: #538392;
  width: 100%;
}
